.sidebar {
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #E6FF00;
    padding: 9px;
    padding-left: 20px;

    

  }
.icon{
  font-size: 20px;
  margin-right: 5px;
}

.icon-fixes {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.icon-fixes.active {
  background-color: rgb(230, 28, 28);
  color: #000;
}


  li:hover {
    background-color:#333;
    border-radius: 5px;
  }
 
  .main_music{
    width: auto;
    height: 35px;
    
}

.main_Instrumental{
    display: flex;
    margin-top: -10px;
    padding: 20px;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
}

.active {

  background-color: #E6FF00; 
  color: #060505; 
 border-radius: 5px;
}

.sidebar-line {
  border-top: 1px solid grey;
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
  padding-bottom: 4px;
}
